doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

#form
#list

script(id="formView", type="text/template")
  <h2>New User</h2>
  <div class="nameClass">
  <label for="name">Name:</label>
  <input type="text" id="name" />
  <p/>
  <label for="age">Age:</label>
  <input type="text" id="age" />
  
  <p><button>Create</button></p>
  
  <p/>
</div>

script(id="userView", type="text/template")
  <p> Name: <%= name %> </p>
  <p> Age: <%= age %> </p>

script(id="userView", type="text/template")
  <h2> Users </h2>

script(id="noUserView", type="text/template")
  <h2> No Users </h2>

script(src="jquery-latest.js")
script(src="underscore.js")
script(src="backbone.js")
script(src="backbone.marionette.js")
script(src="app.js")
