body {
  padding: 50px;
  font: 14px Arial;
}


label {
    font-family:sans-serif;
    font: 15px TimesRoman;
    font-weight: bold;
    margin-right:10px;
    
}

input {
    border: 1px solid red;
    font-family: sans-serif;
    font: 20px;
    float: right;
    clear: both;
}

.nameClass {
    width: 180px;
    height: 50px;
    margin-bottom: 50px;
}